@page  "/about"

<h3>About</h3>


<iframe src="https://powerva.microsoft.com/webchat/bots/97151836-c0cf-43ed-a939-43794e279feb" frameborder="0" style="width: 100%; height: 100%;"></iframe>


<p>Powered by @netVersionDesc</p>

@code {
    private string netVersionDesc = System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription;
}
