@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Button Color="Color.Primary">主按钮</Button>


<BootstrapInput DisplayText="Input" placeholder="input some thing" TValue="string"/>

<SurveyPrompt Title="How is Blazor working for you?" />