################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Client/obj
/Client/bin/Debug/net5.0
/Data/obj
/Data/bin/Debug/net5.0
/Data/bin/Debug/netstandard2.1
/Client/bin/Debug/net6.0
/.vs/axiangblogBlazor
/.vs/ProjectEvaluation
