@page "/counter"

@inject HttpClient http

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<p>Current apiResult: @apiResponse</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount=0;

    private string apiResponse;

    private async Task IncrementCount()
    {
        currentCount++;

        apiResponse=await http.GetFromJsonAsync<string>("api/products");
    }
}
