@page "/counter"

@inject HttpClient http

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<div>
    <img src="@bingImgPath" width="600px"/>
</div>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount=0;

    private string apiResponse;

    private string bingImgPath;

    private BingImg todayImg;

    private async Task IncrementCount()
    {
        currentCount++;

        todayImg = await http.GetFromJsonAsync<BingImg>("api/todayBingImg");
        if (todayImg!=null&& !string.IsNullOrEmpty(todayImg.url))
        {
            bingImgPath = todayImg.url;

        }
    }
}
