@page "/todayBingImg"

@inject HttpClient http

<h1>必应美图</h1>

<p>今日：@todayDate</p>
<p>必应美图：@bingImgName</p>

<div>
    <img src="@bingImgPath" width="600px" alt="@bingImgName"/>
</div>

<button class="btn btn-primary" @onclick="GetTodayBingImg">今日壁纸</button>

@code {

    /// <summary>
    /// 日期
    /// </summary>
    private string todayDate = TimeZoneInfo.ConvertTimeFromUtc(
        DateTime.UtcNow, TZConvert.GetTimeZoneInfo("Asia/Shanghai")
        //TimeZoneInfo.FindSystemTimeZoneById("China Standard Time")
        ).ToString("yyyy-MM-dd");

    private string apiResponse;

    private string bingImgPath;

    private string bingImgName;

    private BingImg todayImg=new BingImg();

    private List<BingImgDocument> bingImgDocuments = new List<BingImgDocument>();

    private async Task GetTodayBingImg()
    {
        var apiRes = await http.PostAsync("https://openapi.axiangblog.com/dailyBingImg/v1/",null);

        var res=await apiRes.Content.ReadAsStringAsync();
        if (!string.IsNullOrEmpty(res))
        {
            try
            {
                bingImgDocuments = System.Text.Json.JsonSerializer.Deserialize<List<BingImgDocument>>(res);
            }
            catch (Exception ex)
            {

                todayImg=new BingImg();
            }
        }

        if (bingImgDocuments != null&& bingImgDocuments.Count()>0)
        {
            todayImg.Title = bingImgDocuments.FirstOrDefault().Title;
            todayImg.Url = bingImgDocuments.FirstOrDefault().Url;
            bingImgName = todayImg.Title;
            bingImgPath = todayImg.Url;

        }
    }
}
