@page "/graph"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@attribute [Authorize]
@inject GraphServiceClient GraphClient

<h3>Graph Client Example</h3>

@if (user != null)
{
    <p>Id: @user.Id</p>
    <p>UserPrincipalName: @user.UserPrincipalName</p>
    <p>DisplayName: @user.DisplayName</p>
    <p>Mail: @user.Mail</p>
}

@code {
    private User user;

    protected async override Task OnInitializedAsync()
    {
        var request = GraphClient.Me.Request();
        user = await request.GetAsync();
    }
}