@page "/chat"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@attribute [Authorize]
@inject GraphServiceClient GraphClient
@inject HttpClient http


<h3>[Graph]用户信息</h3>

@if (user != null)
{
<p>Id: @user.Id</p>
<p>UserPrincipalName: @user.UserPrincipalName</p>
<p>DisplayName: @user.DisplayName</p>
<p>Mail: @user.Mail</p>
<iframe src="https://axiangchat.azurewebsites.net" frameborder="0" style="width: 100%; height: 600px;"></iframe>
}

@code { private User user;

    protected async override Task OnInitializedAsync()
    {
        var request = GraphClient.Me.Request();
        user = await request.GetAsync();
    } }